@import './tokens.scss';

@mixin base-button() {
    min-width: 108px;
    height: 48px;
    padding: 14px 24px;
    font-size: $font-size-sm;
    border-radius: $border-radius-none;
    border: $border-width-thick $border-style-default $color-brand-primary-medium;
    font-family: $font-family-highlight, Roboto;
    font-weight: $font-weight-medium;
    color: $color-brand-primary-lightest;
    background-color: $color-brand-primary-medium;
    cursor: pointer;       
}

@mixin button-hover(){
    background-color: $color-brand-primary-lightest;
    color: $color-brand-primary-medium;
    border: $border-width-thick $border-style-default $color-brand-primary-medium;
}

.primary-button{
    @include base-button();
    &:hover{
        @include button-hover();
    }
}