
$border-style-default: "solid";
$border-width-none: 0;
$border-width-thin: 1px;
$border-width-thick: 2px;
$border-width-thicker: 4px;
$border-radius-none: 0;
$border-radius-small: 8px;
$border-radius-pill: 500px;
$border-radius-circular: 50%;
$color-brand-primary-lightest: #EEEEEE;
$color-brand-primary-light: #CDCDCD;
$color-brand-primary-medium: #000000;
$color-brand-primary-dark: #000000;
$color-brand-primary-darkest: #000000;
$color-brand-secondary-lightest: #EEEEEE;
$color-brand-secondary-light: #CDCDCD;
$color-brand-secondary-medium: #000000;
$color-brand-secondary-dark: #000000;
$color-brand-secondary-darkest: #000000;
$color-attention-lightest: #FFD9BF;
$color-attention-light: #FFA160;
$color-attention-medium: #FF6D00;
$color-attention-dark: #E05800;
$color-attention-darkest: #C24300;
$color-success-lightest: #BFFFD2;
$color-success-light: #60F391;
$color-success-medium: #00C853;
$color-success-dark: #00B048;
$color-success-darkest: #00983D;
$color-neutral-lightest: #FFFFFF;
$color-neutral-light: #F0F2F7;
$color-neutral-medium: #D4D7DD;
$color-neutral-dark: #60646C;
$color-neutral-darkest: #000000;
$opacity-semi-opaque: 0.8;
$opacity-intense: 0.64;
$opacity-medium: 0.32;
$opacity-light: 0.16;
$opacity-semi-transparent: 0.08;
$shadow-offset-x-none: 0;
$shadow-offset-y-level-1: 4px;
$shadow-offset-y-level-2: 8px;
$shadow-offset-y-level-3: 16px;
$shadow-offset-y-level-4: 24px;
$shadow-blur-radius-level-1: 16px;
$shadow-blur-radius-level-2: 24px;
$shadow-blur-radius-level-3: 32px;
$shadow-blur-radius-level-4: 48px;
$shadow-spread-radius-default: 0;
$spacing-inline-xxxs: 4px;
$spacing-inline-xxs: 8px;
$spacing-inline-xs: 16px;
$spacing-inline-sm: 24px;
$spacing-inline-md: 32px;
$spacing-inline-lg: 48px;
$spacing-inline-xl: 64px;
$spacing-inset-xxs: 4px;
$spacing-inset-xs: 8px;
$spacing-inset-sm: 16px;
$spacing-inset-md: 24px;
$spacing-inset-lg: 32px;
$spacing-inset-xl: 48px;
$spacing-squish-xs: 4px 8px;
$spacing-squish-sm: 8px 16px;
$spacing-squish-md: 16px 24px;
$spacing-squish-lg: 16px 32px;
$spacing-squish-xl: 32px 48px;
$spacing-stack-xxxs: 4px;
$spacing-stack-xxs: 8px;
$spacing-stack-xs: 16px;
$spacing-stack-sm: 24px;
$spacing-stack-md: 32px;
$spacing-stack-lg: 48px;
$spacing-stack-xl: 72px;
$spacing-stack-xxl: 120px;
$spacing-stack-xxxl: 160px;
$font-family-highlight: "Archivo";
$font-family-base: "Archivo";
$font-line-height-xxxs: 12px;
$font-line-height-xxs: 16px;
$font-line-height-xs: 20px;
$font-line-height-sm: 24px;
$font-line-height-md: 28px;
$font-line-height-lg: 32px;
$font-line-height-xl: 36px;
$font-line-height-xxl: 48px;
$font-line-height-xxxl: 64px;
$font-line-height-ul: 80px;
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 48px;
$font-size-xxl: 64px;
$font-size-xxxl: 80px;
$font-weight-regular: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$text-underline: underline;
$text-strike: line-through;
$text-uppercase: uppercase;
